/* .g-layer {
  & .layui-layer-title {
    background: #c00;
    color: #fff;
    border: none;
  }

  & .layui-layer-btn {
    border-top: 1px solid #e9e7e7;

    &  a {
      background: #333;
    }

    & .layui-layer-btn1 {
      background: #999;
    }
  }
} */



